*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Firebase configuration files
google-services.json
firebase.json
.firebaserc
database.rules.json
**/node_modules/@firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-debug.*.log
firebase-adminsdk.json
*firebase*.js
*firebase*.ts
serviceAccountKey.json